<section class="view_Home">
  <img class="Home__bg" src="assets/images/public/home/bg.jpg" alt="">
  <div class="Home__section Home__section--intro">
    <h2>
      <span>Aprende con los mejores sobre</span>
      <strong #letter></strong>
    </h2>
    <h2 class="last">
      Avanza a tu ritmo y refuerza tu aprendizaje
      con mentorias personalizadas, dictada por profesionales
      de la industria.
    </h2>
  </div>

  <div class="separator">

  </div>

  <div class="Home__section Home__section--learning">
    <h2>APRENDE SOBRE</h2>

  </div>
</section>
