/**
 * @description: En este archivo se definiran las posiciones.
 * @file: _list.scss
 */

.p_absolute {
	position: absolute;
}

.p_relative {
	position: relative;
}

.p_static {
	position: static;
}
