/**
 * @description: En este archivo se definiran los z-index
 * @file: _z-index.scss
 */

.z-index-1 {
	z-index: 1;
}

.z-index-2 {
	z-index: 2;
}

.z-index-3 {
	z-index: 3;
}

.z-index-4 {
	z-index: 4;
}
